.matching-activity-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
.matching-activity-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}